navigation-bar .header {
	background-color: rgba(0, 0, 0, 0.9);
}

navigation-bar #nav .main-nav {
	all: unset;
	margin: 0 20%;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

navigation-bar .item {
	padding: 20px;
}

navigation-bar .item a {
	padding: 20px;
}

navigation-bar .item a:hover {
	background-color: rgba(0, 0, 0);
	transition-timing-function: ease-out;
	transition: 1s;
}